<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>510219033145-o5slvrkta10b68670e2b496ih7m2hcvb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.510219033145-o5slvrkta10b68670e2b496ih7m2hcvb</string>
	<key>API_KEY</key>
	<string>AIzaSyCOGUEiZhDPo6kYPylkU1wyU7MB_9-XOHk</string>
	<key>GCM_SENDER_ID</key>
	<string>510219033145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>tinder-clone-9e1e5</string>
	<key>STORAGE_BUCKET</key>
	<string>tinder-clone-9e1e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:510219033145:ios:dc0153c544bd8e092ecbe8</string>
</dict>
</plist>